<form ngForm #subscriptionForm="ngForm">
Email:  <input type="email" ngModel name="email" [value]="subscriptionModel.email" required><br>
Subscription: <select name="subscriptions">
      <option value="advanced" [value]="subscriptionModel.subscription">Advanced</option>
      <option value="pro">Pro</option>
      <option value="basic">Basic</option>
</select>
<br>
Password: <input type="password" name="password" [value]="subscriptionModel.password" required>
<button name="submitForm" [disabled]="!subscriptionForm.valid" (click)="OnSubmitForm">Submit</button>
<hr>
<p>
  
</p>
</form>